<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        {% load static %}
        <link rel="stylesheet"   href="{% static 'css/contactus.css' %}">
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="{% static 'assets/images/logo.jpg' %}" alt="Property Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="{%  url 'houses' %}">Houses</a></li>
                <li><a href="{%  url 'aboutus' %}">About us</a></li>
                <li><a href="{%  url 'contactus' %}">Contact us</a></li>
                {% if request.session.userId %}
                <li><a href="{%  url 'profile' %}">Profile</a></li>
                    {% if request.session.role == "admin" %}
                    <li><a href="{%  url 'dashboard' %}">Admin</a></li>
                    {% endif %}
                {% else %}
                <li><a href="{%  url 'sign-in' %}">sign in</a></li>
                <li><a href="{%  url 'sign-up' %}">sign up</a></li>
                {% endif %}
            </ul>
            <a href="{%  url 'contactus' %}" class="contact-btn">Contact Us</a>
        </nav>
        <div class="contact-container">
            <h2>Contact Us</h2>
            <p> If you have got any questions or concerns, feel free to reach us through filling and submitting the Contact page here.</p>
            <p>We'll be glad to here from you. And we'll work to ensure we get back to you immediately. </p>
            <form id="contactForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Send Message</button>
            </form>

            <div id="formMessage" class="form-message"></div>

        </div>

        <script src="{% static 'css/contactus.js' %}"></script>
    </body>
</html>