body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    overflow: hidden; 
}

.map-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;     margin: 0;
    padding: 0; 
}

.map-fullscreen iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0; 
    padding: 0; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff7e5f;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ffcc99; 
    z-index: 2; 
    margin: 0; 
}

.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}
