<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="{% static 'assets/images/agreement.png' %}" alt="Logo">
        </div>
        <h1>Welcome back</h1>
        <p>Please enter your details to sign in.</p>

        <div class="social-login">
            <button class="apple-btn">
                <img src="{% static 'assets/images/applelogo.png' %}" alt="Apple Logo">
            </button>
            <button class="google-btn">
                <img src="{% static 'assets/images/google.png' %}" alt="Google Logo">
            </button>
            <button class="twitter-btn">
                <img src="{% static 'assets/images/twitter.jpeg' %}" alt="Twitter Logo">
            </button>
        </div>

        <div class="divider">
            <hr><span>OR</span><hr>
        </div>

        
        {% if request.session.error %}
            <p style="color: red;" >
                {{ request.session.error }}
            </p>

        {% endif %}
        

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email..." required>
            <div class="password-container">
                <input type="password" name="password" placeholder="Password" required>
                <span class="password-toggle">👁️</span>
            </div>
            <div class="options">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="login-btn">Sign in</button>
        </form>

        <p class="signup">Don't have an account yet? <a href="{% url 'sign-up' %}">Sign Up</a></p>
    </div>
</body>
</html>
