<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="sign_up.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="assets/images/logo.jpg" alt="Property Logo">
        </div>
        <ul class="nav-links">
            <li><a href="Home.html">Home</a></li>
            <li><a href="Review.html">Review</a></li>
            <li><a href="About_us.html">About Us</a></li>
            <li><a href="sign_up.html">Sign Up</a></li>
            <li><a href="Add_house.html">Add House</a></li>
            <li><a href="view_house_details.html">View House Details</a></li>
            <li><a href="view-houses.html">View Houses</a></li>
        </ul>
    </nav>

    <div class="signup-container">
        <div class="logo">
            <img src="assets/images/signup icon.png" alt="Logo">
        </div>
        <h2>Create an Account</h2>
        <p>Please enter your details to sign up.</p>

        <div class="social-login">
            <a href="https://www.apple.com" class="social-btn apple">
                <img src="assets/images/apple.jpg" alt="Apple">
            </a>
            <a href="https://accounts.google.com" class="social-btn google">
                <img src="assets/images/images.png" alt="Google">
            </a>
            <a href="https://twitter.com/login" class="social-btn twitter">
                <img src="assets/images/x.jpg" alt="Twitter">
            </a>
        </div>

        <div class="divider">
            <hr class="line">
            <span>OR</span>
            <hr class="line">
        </div>

        <form id="signup-form">
            <input type="Name" placeholder="Enter your Name..." required>
            <input type="Phone" placeholder="Enter your phone number..." required>
            <input type="email" placeholder="Enter your email..." required>
            <input type="password" placeholder="Password..." required>
            <button type="submit">Sign Up</button>
        </form>

        <div class="footer">
            <p>Already have an account? <a href="index.html">Sign In</a></p>
        </div>
    </div>

    <script src="sign_up.js"></script>
</body>

</html>
