<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">

                <img src="{% static 'assets/images/logo.jpg' %}" alt="Property Logo">
            </a>
        </div>
        <!-- <ul class="nav-links">
            <li><a href="Home.html">Home</a></li>
            <li><a href="Review.html">Review</a></li>
            <li><a href="About_us.html">About Us</a></li>
            <li><a href="sign_up.html">sign-up</a></li>
            <li><a href="Add house.html">Add House</a></li>
            <li><a href="view house details.html">View Houses details</details></a></li>
            <li><a href="view-houses.html">View Houses</a></li>
        </ul> -->

    </nav>

    <div class="signup-container">
        <div class="logo">
            <img src="{% static 'assets/images/signup icon.png' %}" alt="Logo">
        </div>
        <h2>CREATE AN ACCOUNT</h2>
        <p>Please enter your details to sign up.</p>

        <div class="social-login">
            <a href="https://www.apple.com" target="_blank" class="social-btn apple">
                <img src="{% static 'assets/images/apple.jpg' %}" alt="Apple">
            </a>
            <a href="https://accounts.google.com" target="_blank" class="social-btn google">
                <img src="{% static 'assets/images/images.png' %}" alt="Google">
            </a>
            <a href="https://twitter.com/login" target="_blank" class="social-btn twitter">
                <img src="{% static 'assets/images/x.jpg' %}" alt="Twitter">
            </a>
        </div>

        <div class="divider">
            <hr class="line">
            <span>OR</span>
            <hr class="line">
        </div>

        {% if request.session.signup_error %}
            <p style="color: red;" >
                {{ request.session.signup_error }}
            </p>

        {% endif %}

        <form action="{% url 'store' %}" method="post" class="signup-form" >
            {% csrf_token %}
            <input type="text" name="name" placeholder="Enter your Name..." required>
            <input type="text" name="phone" placeholder="Enter your phone number..." required>
            <input type="email" name="email" placeholder="Enter your email..." required>
            <input type="password" name="password" placeholder="Password..." required>
            <button type="submit">Sign Up</button>
        </form>

        <div class="footer">
            <p>Already have an account? <a href="{% url 'sign-in' %}">Sign In</a></p>
        </div>
    </div>

    <script src="{% static 'js/sign_up.js' %}"></script>
</body>

</html>